<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->



<div id='chart-container'>
    <div id="lineChart" data-bind="ojComponent: {
        component: 'ojChart', 
        type: 'line',
        series: lineSeriesValue, 
        groups: lineGroupsValue, 
        animationOnDisplay: 'auto',
        animationOnDataChange: 'auto',
        orientation: orientationValue,
        hoverBehavior: 'dim',
        xAxis : {
           rendered  : 'off' 
        },
                yAxis : {
                 max : 100
        },
        styleDefaults : {
           animationIndicators  : 'none' 
        }
        }"
         style="max-width:700px;width:100%;max-height:500px;">
    </div>
</div>
<br>
<br>
<div class="oj-flex">
    <h4 style=" text-align: center; " class="oj-flex-item">Time Graph of CPU utilization ( <span data-bind=" text  : machineId "></span> )</h4>
</div>

<!--<button id= "home"
        data-bind="click: goHome, ojComponent: { component: 'ojButton', label: 'Go back' }">
</button>-->
